
<%= form_for @player, url:player_path(@player.id) do |f| %>
  nickname: <%= f.text_field :nickname %><br />
  rank : <%= f.text_field :rank %><br />
  charisma : <%= f.text_field :charisma %><br />
	wisdom : <%= f.text_field :wisdom %><br />
  <%= f.submit %>
<% end %>