<h1>Players#index</h1>
<p>Find me in app/views/players/index.html.erb</p>
<% if @players == [] %>
<p>no players in game</p>
<%else %>
<% @player.each do |player| %>
<p>  <%= player.nickname %></br>
<%= player.rank %></br>
<%= player.charisma %></br>
<%= player.nickname %> <br>

<%= link_to "see player", player_path(player.id) %> <br>
<% end %>
<% end %>

<%= link_to "add player" , new_player_path %>
