<%= form_for :player, url:players_path do |f| %>
  nickname: <%= f.text_field :nickname %><br />
  rank : <%= f.text_field :rank %><br />
  charisma : <%= f.text_field :charisma %><br />
	wisdom : <%= f.text_field :wisdom %><br />
  <%= f.submit %>
<% end %>