<h1>Players#show</h1>
<p>Find me in app/views/players/show.html.erb</p>
<p>
	<%= @player.nickname %> <br>
	<%= @player.rank %> <br>
	<%= @player.charisma %> <br>
	<%= @player.wisdom %> <br>
	<%= link_to "edit", edit_player_path(@player.id) %> <br> 
	<%= link_to "delete", player_path(@player.id), method: :delete %> <br>
</p>